.gitignore export-ignore
.gitattributes export-ignore
.gitkeep export-ignore
docs/speeches export-ignore
docs/video export-ignore
docs/src/man7 export-ignore
bin/cdist-build-helper export-ignore
README-maintainers export-ignore
