# -vim
.*.swp

# Ignore generated manpages
docs/man/.marker
docs/man/man1/*.1
docs/man/man7/*.7
docs/man/man*/*.html
docs/man/man*/*.xml
docs/man/man*/docbook-xsl.css
docs/man/man7/cdist-type__*.text
docs/man/man7/cdist-reference.text

# Ignore cdist cache for version control
/cache/

# Python: cache, distutils, distribution in general
__pycache__/
MANIFEST
dist/
cdist/version.py

# Packaging: Archlinux
/PKGBUILD
/cdist-*.pkg.tar.xz
/cdist-*.tar.gz
/pkg
/src
build
.lock-*
.git-current-branch
.lock*
